#title {
    font-size: 90px;
    font-family: 'MajorMonoDisplay', Arial, sans-serif;
    margin-top: 180px;
}

#intro-text {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}