#title {
    font-size: 90px;
    font-family: 'MajorMonoDisplay', Arial, sans-serif;
    margin-top: 180px;
}

#intro-text {
    font-size: 22px;
    font-family: 'AnonymousPro-Regular', Courier, monospace;
    font-size: 25px;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    #title {
        margin-top: 80px;
    }
  }