nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 30px;
}

nav > ul > li > a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: white;
}

nav > ul > li > a:hover {
    text-shadow: 0px 0px 10px white;
    transition: ease-in-out;
}