nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
}

nav > ul > li > a:hover {
    text-shadow: 0px 0px 10px white;
    transition: ease-in-out;
}