#subtitle {
    font-size: 50px;
    font-family: 'MajorMonoDisplay', Arial, sans-serif;
    margin: 0;
}

#images-container {
    max-width: 800px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas en pantallas grandes */
    grid-template-rows: auto;
    gap: 35px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

#images-container > img {
    max-width: 360px;
    height: auto;
}


#images-container > img {
    max-width: 360px;
    height: auto;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    #images-container {
        margin: 10px 10px;
        grid-template-columns: 1fr; 
        gap: 20px; 
    }

    #images-container > img {
        max-width: 100%;
    }
}

/* Estilos de modal de imagen */
#modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#modal img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 40px rgba(0,0,0,0.8);
}

#close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  background-color: white;
  font-weight: bold;
  color: black;
  cursor: url("/static/cursor/eye-closed.svg") 16 16, auto;
  border-radius: 16px;
}

#close-modal:hover {
    background-color: rgb(44, 44, 44);
    transition: ease-in-out;
    color: white;
}