#subtitle {
    font-size: 50px;
    font-family: 'MajorMonoDisplay', Arial, sans-serif;
    margin-bottom: 20px;
}

#images-container {
    max-width: 800px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 35px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

#images-container > img {
    max-width: 360px;
    height: auto;
}